/build/
/devel/
/logs/
/.catkin_tools/
/tools/pointcloud_to_2dmap_build/
/.ros/
*.bag
*.bag.active
__pycache__/
*.py[cod]
compile_commands.json
CMakeCache.txt
CMakeFiles/
.vscode/browse.vc.db*
.idea/
*.swp
*~
.DS_Store
*_before_gimp.pgm
*_before_gimp.yaml
*.xcf
