<?xml version="1.0"?>
<launch>
  <arg name="scout_port" default="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0"/>
  <arg name="publish_scout_odom_tf" default="true"/>
  <arg name="scout_odom_topic" default="/odom"/>
  <arg name="velodyne_ip" default="192.168.10.202"/>
  <arg name="velodyne_port" default="2369"/>
  <!-- PointCloud2 ring indices are ordered by elevation; VLP-16 ring 8 is +1 degree. -->
  <arg name="velodyne_min_range" default="0.9"/>
  <arg name="velodyne_laserscan_ring" default="8"/>
  <arg name="velodyne_x" default="0.34"/>
  <arg name="velodyne_y" default="0.0"/>
  <arg name="velodyne_z" default="0.185"/>
  <arg name="velodyne_yaw" default="0.0"/>
  <arg name="velodyne_pitch" default="0.0"/>
  <arg name="velodyne_roll" default="0.0"/>

  <node pkg="scout_base" type="scout_base_node" name="scout_base_node" output="screen">
    <remap from="odom" to="$(arg scout_odom_topic)"/>
    <param name="port_name" value="$(arg scout_port)"/>
    <param name="simulated_robot" value="false"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="publish_odom_tf" value="$(arg publish_scout_odom_tf)"/>
    <param name="publish_odom" value="true"/>
  </node>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find scout_description)/urdf/scout_v2.xacro"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher"
        name="joint_state_publisher" output="screen">
    <param name="rate" value="20"/>
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen"/>

  <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_link_to_velodyne"
        args="$(arg velodyne_x) $(arg velodyne_y) $(arg velodyne_z) $(arg velodyne_yaw) $(arg velodyne_pitch) $(arg velodyne_roll) base_link velodyne"/>

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" value="$(arg velodyne_ip)"/>
    <arg name="port" value="$(arg velodyne_port)"/>
    <arg name="frame_id" value="velodyne"/>
    <arg name="min_range" value="$(arg velodyne_min_range)"/>
    <arg name="laserscan_ring" value="$(arg velodyne_laserscan_ring)"/>
  </include>
</launch>
