<?xml version="1.0"?>
<launch>
  <arg name="device_ip" default="192.168.10.202"/>
  <arg name="data_port" default="2369"/>
  <arg name="frame_id" default="velodyne"/>
  <arg name="use_rviz" default="true"/>

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="port" value="$(arg data_port)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
  </include>

  <node if="$(arg use_rviz)" pkg="rviz" type="rviz" name="rviz"
        output="screen"
        args="-d $(find scout_slam_demo)/config/velodyne_test.rviz"/>
</launch>
